<hr> 
{{#if currentUser}}
<h5>Hello {{currentUser.name}}!</h5> 
<h5>You are logged in!</h5>
{{else}}
<h5>Hello, who are you?  Sign in!</h5>
{{/if}}
<hr> 
<h1>PASSPORT</h1>
<h3>Passport is a flexible and modular authentication middleware for Node.js. </h3>
<h5>It also gives us a set of support strategies for authentication using Facebook, Twitter, and more.</h5>
<hr> 

